.App {
  text-align: center;
}

nav {
  height: 80px;
  background-color: #34495e;
  box-shadow: 9px 10px 10px 0px rgba(119, 119, 119, 0.60);
  -moz-box-shadow: 9px 10px 10px 0px rgba(119, 119, 119, 0.60);
  -webkit-box-shadow: 9px 10px 10px 0px rgba(119, 119, 119, 0.60);
}

#title {
  font-size: 1.25rem;
  color: white;
}

a {
  margin-left: 40px;
  color: white;
  font-size: 1.25rem;
}

a:hover {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

#about {
  font-size: 1.25rem;
  color: white;
}